@tailwind base;
@tailwind components;
@tailwind utilities;

/* Druk Text Wide Variants */
@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-Super.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "DrukTextWide";
  src: url("/fonts/Druk/DrukTextWide-SuperItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* OTF */

@font-face {
  font-family: "Syne-Regular";
  src: url("/fonts/OTF/Syne-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Syne-Bold";
  src: url("/fonts/OTF/Syne-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Syne-Italic";
  src: url("/fonts/OTF/Syne-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Syne-Extra";
  src: url("/fonts/OTF/Syne-Extra.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Syne-Mono";
  src: url("/fonts/OTF/Syne-Mono.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* animacion basica */
.text__teclado {
  padding: 10px 0;
  display: block;
  background-color: white;
  width: fit-content; /* Asegura que el contenedor ajuste su tamaño al contenido */
  margin: 0 auto; /* Centra el contenedor */
}

.text__teclado-span {
  display: inline-block;
  font-size: 2rem; /* Asegura que el tamaño del texto sea igual a 'Un nuevo sabor esta en' */
  color: #000;
  font-weight: bold;
  white-space: nowrap;
  border-right: 4px solid;
  animation: typing 2s steps(30), blink 0.5s infinite step-end alternate;
  overflow: hidden; /* Oculta cualquier desbordamiento de texto */
  max-width: 100%; /* Evita que el texto se estire más allá del límite */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* El ancho máximo será el ancho del contenido */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cosa {
}
